* {
    margin: 0;
    padding: 0;
    font-size: 100px;
    /* font-size: 0.16rem; */
}
ul,li{
    list-style: none;
}
html,body{
    height: 100%;
    min-height: 100%;

}
input{
    border:none;
    background: none;
    outline: none;
}